# Ignore system files
.DS_Store

# Ignore IDE files
.classpath
.project
.settings/

# Ignore GitLab CI configuration
.gitlab-ci.yml

# Ignore Scala build files
build.sbt

# Ignore sbt build directories
sbt-dist/
sbt.bat

# Ignore application-specific files
app/assets/

# Ignore other project-related files
conf/
project/

# Ignore .DS_Store files in all subdirectories
app/.DS_Store
app/structures/.DS_Store

.idea/
logs/
target/
