# Ignore compiled class files
target/**/*.class

# Ignore logs
logs/
*.log

# Ignore build and dependency cache files
.project/
.target/
.idea/
*.xml

# Ignore Scala build artifacts
target/
project/target/
project/metals.sbt
project/project/

# Ignore Play Framework assets
target/streams/
